// header
// -----------------------------------------------------------------------------
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $headerIndex;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  background: $grey50;
  &.sticky {
    background: white;
    box-shadow: $simpleShadow;
  }
  @include breakpoint(478px) {
    gap: 8px;
  }
}

.logo {
  &_box {
    flex-basis: 264px;
    display: flex;
    align-items: center;
    gap: 16px;
    @include breakpoint(478px) {
      margin-right: auto;
    }
  }
  font-family: "Padauk", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: $grey900;
  letter-spacing: 1.2px;
  user-select: none;
}

.search_box {
  flex-grow: 1;
  position: relative;
  height: 40px;
  border-radius: 16px;
  transition: all 0.3s;
  input {
    padding-left: 50px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    background: $grey100;
    transition: padding-left 0.3s;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid $grey900;
      background: $grey200;
    }
  }
  @include breakpoint(478px) {
    width: calc(100% - 168px);
    position: absolute;
    left: 56px;
  }
}

.search_tag {
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  display: flex;
  gap: 4px;
  align-items: center;
  color: white;
  background-color: $grey900;
  height: 90%;
  padding: 8px;
  border-radius: 14px;
  &.hidden {
    display: none;
  }
}
