// button mixin
// -----------------------------------------------------------------------------
@mixin btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 90%;
  font-weight: 500;
  border-radius: 999px;
  background: none;
}

// basic button
// -----------------------------------------------------------------------------
.btn {
  @include btn;
}

// link button
// -----------------------------------------------------------------------------
.btn--link {
  @include btn;
  border-radius: 0;
  font-size: 100%;
  padding: 0;
  @include on-event {
    color: $primaryColor;
    text-decoration: underline;
  }
}

.btn--back {
  @include btn;
  border: 2px solid $grey900;
  &:hover {
    background: $grey900;
    color: white;
  }
}
