// swiper
// -----------------------------------------------------------------------------
.swiper {
  position: relative;
  &_prevent-break {
    width: 100%;
  }
}
.swiper_slide {
  display: flex;
  flex-direction: column;
}

// swiper_nav
// -----------------------------------------------------------------------------
.swiper_nav {
  padding: 0;
  border-radius: 32px;
  box-shadow: inset -6px 0 6px -7px $secondaryColor,
    inset 6px 0 6px -7px $secondaryColor;
}
.swiper_slide_nav {
  @extend .swiper_slide;
  width: fit-content;
}

// swiper_inf
// -----------------------------------------------------------------------------
.swiper_slide_inf {
  @extend .swiper_slide;
  width: 196px;
}
.swiper_avatar {
  position: relative;
  width: 180px;
  height: 180px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border-radius: 16px 16px 0 0;
  }
  &:hover::after {
    background: rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
}
.swiper_text {
  width: 180px;
  padding: 8px;
  background: $grey100;
  border-radius: 0 0 16px 16px;
  a {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &_top {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &_name {
    font-family: $tertiaryFont;
    font-weight: 600;
    color: $grey700;
    &:hover {
      color: $primaryColor !important;
    }
  }
  &_job {
    font-family: $tertiaryFont;
    font-size: 15px;
    color: $grey700;
  }
}

// swiper_moment
// -----------------------------------------------------------------------------
.swiper_prevent-break {
  display: block;
  @include breakpoint(478px) {
    padding: 0 16px;
  }
}
.swiper_prevent-break.hidden {
  display: none;
}
.swiper_slide_moment {
  width: 196px;
  height: 240px;
}
.swiper_moment_content {
  position: relative;
  width: 180px;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  &:hover::before {
    background: rgba(0, 0, 0, 0.2);
  }
}
.swiper_moment_img {
  width: 100%;
  border-radius: 20px;
}
.swiper_moment_avatar {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
