// font-family
// -----------------------------------------------------------------------------
$primaryFont: "Inter", sans-serif;
$secondaryFont: "ProximaNova", sans-serif;
$tertiaryFont: "Nunito", sans-serif;

// color
// -----------------------------------------------------------------------------
$grey50: #f5f5f5;
$grey100: #e9e9e9;
$grey200: #d9d9d9;
$grey300: #c4c4c4;
$grey400: #9d9d9d;
$grey500: #7b7b7b;
$grey600: #555555;
$grey700: #434343;
$grey800: #262626;
$grey900: #000000;
$primaryColor: #bb0e0f;
$secondaryColor: #f2a33b;
$tertiaryColor: #c0c0c0;

// box-shadow
// -----------------------------------------------------------------------------
$simpleShadow: 0.5px 1px 1px rgba(0, 0, 0, 0.05),
  1px 2px 2px rgba(0, 0, 0, 0.05);
$closeShadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

// z-index
// -----------------------------------------------------------------------------
$momentIndex: 10000;
$notiIndex: 1000;
$headerIndex: 100;
$feedbackIndex: 10;
$overlayIndex: 10;
